@media screen and (max-width: 800px) {
  .title {
    width: 100vw;
    height: 100vh;
    font-size: 80pt;
    line-height: 5rem;
    padding: 2rem 0;
  }

  nav {
    display: none;
  }

  section {
    padding: 4rem 1rem;
  }

  .bio {
    flex-wrap: wrap;
  }

  .bio-image {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .bio-link {
    margin-top: 2rem;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  .work-content h1 {
    font-size: 26px;
    margin: 1rem 0;
  }
  .work-content h2 {
    margin: 0;
    max-width: 100%;
  }

  iframe {
    width: 300px;
    height: auto;
    margin-bottom: 2rem;
  }

  .DAcampaign .main {
    flex-direction: column;
  }

  .dpca-image {
    width: 300px;
    height: 300px;
    margin: 2rem 0;
  }

  .endorsed {
    margin-top: 2rem;
  }

  .endorsements {
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .endorsee {
    width: 100%;
    flex-wrap: wrap;
  }

  .contact-form iframe {
    width: 360px;
  }

  footer h1 {
    padding: 2rem 0;
  }

  .legal {
    flex-direction: column;
  }

  .legal h1 {
    font-size: 18px;
  }
}
