* {
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

h2 {
  font-size: 22px;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 1rem;
}

.backdrop {
  background-image: url("antarspeechcrowd.jpeg");
  background-size: cover;
}

.title {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  mix-blend-mode: screen;
  width: 100vw;
  height: 100vh;
  font-size: 190pt;
  font-weight: bolder;
  text-align: center;
  line-height: 210px;
}

.nav-hidden {
  bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 80%;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 16px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.social {
  display: flex;
}

.facebook {
  margin-right: 0.5rem;
}

.social img {
  height: 32px;
  width: 32px;
  padding: 0.5rem;
}

section {
  padding-top: 5rem;
  width: 100%;
  height: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 3;
  padding: 2rem;
}

.bio-image {
  width: 700px;
  height: 700px;
  background-image: url("antarspeech.jpeg");
  background-size: cover;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-right: 2rem;
}

.animation {
  margin-top: 3rem;
}

.animation-on {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

.DAcampaign h1 {
  font-size: 28px;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
}

.endorsements {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 2rem;
}

.endorsee {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.endorsee h2 {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 26px;
}

.endorsee h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
}

.endorsee h4 {
  margin-top: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
}

.endorsee p {
  margin-top: 1rem;
  font-size: 18px;
  letter-spacing: 0.8px;
  text-align: left;
}

.endorsee img {
  height: 200px;
  width: auto;
  border-radius: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: white;
}

.contact-form iframe {
  height: 1000px;
  width: 700px;
}

footer h1 {
  padding: 3rem 1rem;
  font-size: 45px;
  text-align: center;
  color: black;
}

.footer-content {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 225, 0) 90%
  );
}

.legal {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.legal h1 {
  font-size: 24px;
  width: 100%;
}
